 /* General Styles */
body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background:  url('rest.jpg') no-repeat center center/cover;
}

/* Header */
header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Category Navigation */
.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}
/*styling for each navigation links*/
.categories a {
    text-decoration: none;
    color: white;
    background: #ff6600;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s ease;
}
/*hovering effect for each navigation link*/
.categories a:hover {
    background: white;
    color: black;
}

/* Menu Section Styling */
/*styles the menu container*/
.menu-container {
    max-width: 800px;
    margin: auto;
}
/*styles section titles*/
section {
    margin-bottom: 50px;
}
/*styles section titles*/
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}

/* Menu Item Styling */
.menu-item {
    background: white;
    color: black;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
  
}



/* Price Styling */
.price {
    font-weight: bold;
}
